version: "3.8"

services:
  # Mongodb
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongodata:/data/db
    networks:
      - egov-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5

  # Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.2.1
    container_name: zookeeper
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - egov-network
    healthcheck:
      test: echo ruok | nc localhost 2181 || exit 1
      interval: 20s
      timeout: 20s
      retries: 5

  # Kafka

  kafka:
    image: confluentinc/cp-kafka:7.2.1
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
      mongo:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - egov-network
    healthcheck:
      test: nc -z localhost 9092 || exit 1
      interval: 20s
      timeout: 20s
      retries: 5

  # service-registry
  service-registry:
    build: ./service-registry
    container_name: service-registry
    depends_on:
      config-server:
        condition: service_healthy
    ports:
      - "8761:8761"
    networks:
      - egov-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # config-server
  config-server:
    build: ./config-server
    container_name: config-server
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "8888:8888"
    environment:
      SPRING_CLOUD_CONFIG_SERVER_GIT_URI: https://github.com/Yati-21/egov-config-repo.git 
      SPRING_CLOUD_CONFIG_SERVER_GIT_DEFAULT-LABEL: main
      SPRING_CLOUD_CONFIG_SERVER_GIT_USERNAME: ${GIT_USERNAME}
      SPRING_CLOUD_CONFIG_SERVER_GIT_PASSWORD: ${GIT_PASSWORD}
      SPRING_CLOUD_CONFIG_SERVER_GIT_CLONE_ON_START: "true"
      SPRING_CLOUD_CONFIG_SERVER_ENCRYPT_ENABLED: "false"
    networks:
      - egov-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # api-gateway
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    depends_on:
      reporting-service:
        condition: service_started
      service-registry:
        condition: service_healthy
      config-server:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_CONFIG_IMPORT: "optional:configserver:http://config-server:8888"
      SPRING_APPLICATION_NAME: api-gateway
      SPRING_PROFILES_ACTIVE: docker
      JWT_SECRET: "egov-secret-key-should-be-very-long-and-secure-256bit" 
    networks:
      - egov-network

  # user-service
  user-service:
    build: ./user-service
    container_name: user-service
    depends_on:
      service-registry:
        condition: service_healthy
      mongo:
        condition: service_healthy
      config-server:
        condition: service_healthy
    ports:
      - "9002:9002"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      JWT_SECRET: "egov-secret-key-should-be-very-long-and-secure-256bit"
    networks:
      - egov-network

  # grievance-service
  grievance-service:
    build: ./grievance-service
    container_name: grievance-service
    depends_on:
      user-service:
        condition: service_started
      mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
    ports:
      - "9004:9004" 
    volumes:                              
      - ./uploads:/app/uploads 
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - egov-network

  # feedback-service
  feedback-service:
    build: ./feedback-service
    container_name: feedback-service
    depends_on:
      grievance-service:
        condition: service_started
      mongo:
        condition: service_healthy
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
    ports:
      - "9005:9005" 
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - egov-network

  # notification-service
  notification-service:
    build: ./notification-service
    container_name: notification-service
    depends_on:
      feedback-service:
        condition: service_started
      kafka:
        condition: service_healthy
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
    ports:
      - "9006:9006"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
    networks:
      - egov-network

  # reporting-service
  reporting-service:
    build: ./reporting-service
    container_name: reporting-service
    depends_on:
      notification-service:
        condition: service_started
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
    ports:
      - "9007:9007" 
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - egov-network

volumes:
  mongodata:

networks:
  egov-network:
    driver: bridge
